@tailwind base;
@tailwind components;
@tailwind utilities;

.stroktext {
    color: transparent; /* Pastikan teks transparan agar stroke terlihat */
    -webkit-text-stroke: 2px var(--stroke-color, black); /* Gunakan variabel CSS */
}
.wstrktxt {
    color: transparent;
    -webkit-text-stroke: 2px white;
}
@layer utilities {
    .outline-icon {
      text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000; /* Warna outline hitam, ubah sesuai keinginan */
    }
  }